In [2011]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import tensorflow as tf

In [2012]:
data=pd.read_csv('S&P.csv',index_col=0,parse_dates=True,na_values=["",".","0","null"])

In [2013]:
data.head(3)

,S&P,1YTBILL,3MTBILL,6MTBILL,OILB,OILT,FED,USD/EUR,GOLD,USD/CNY,USD/GBP
Date,,,,,,,,,,,
2009-01-02,931.799988,0.38,0.08,0.28,42.94,46.17,0.08,0.7176,869.75,6.80,0.6896
2009-01-05,927.450012,0.41,0.14,0.32,45.84,48.61,0.11,0.7334,860.00,6.82,0.6865
2009-01-06,934.700012,0.42,0.14,0.31,48.89,48.56,0.09,0.7476,844.00,6.83,0.6809

In [2014]:
corr=data.corr()
corr

,S&P,1YTBILL,3MTBILL,6MTBILL,OILB,OILT,FED,USD/EUR,GOLD,USD/CNY,USD/GBP
S&P,1.000000,0.772188,0.786958,0.785081,-0.401122,-0.447292,0.801194,0.738190,-0.002773,0.178569,0.742263
1YTBILL,0.772188,1.000000,0.984906,0.994850,-0.410710,-0.451536,0.971776,0.513974,-0.130463,0.526192,0.778590
3MTBILL,0.786958,0.984906,1.000000,0.996555,-0.329345,-0.378659,0.994356,0.490485,-0.033128,0.502027,0.763354
6MTBILL,0.785081,0.994850,0.996555,1.000000,-0.370364,-0.417303,0.987697,0.507199,-0.073953,0.511921,0.775645
OILB,-0.401122,-0.410710,-0.329345,-0.370364,1.000000,0.973713,-0.341094,-0.711878,0.643472,-0.529334,-0.626219
OILT,-0.447292,-0.451536,-0.378659,-0.417303,0.973713,1.000000,-0.392289,-0.763903,0.519507,-0.504387,-0.665344
FED,0.801194,0.971776,0.994356,0.987697,-0.341094,-0.392289,1.000000,0.514469,-0.016524,0.511294,0.778719
USD/EUR,0.738190,0.513974,0.490485,0.507199,-0.711878,-0.763903,0.514469,1.000000,-0.158504,0.287996,0.780883
GOLD,-0.002773,-0.130463,-0.033128,-0.073953,0.643472,0.519507,-0.016524,-0.158504,1.000000,-0.322429,-0.121290
USD/CNY,0.178569,0.526192,0.502027,0.511921,-0.529334,-0.504387,0.511294,0.287996,-0.322429,1.000000,0.628097
USD/GBP,0.742263,0.778590,0.763354,0.775645,-0.626219,-0.665344,0.778719,0.780883,-0.121290,0.628097,1.000000

In [2015]:
corr['S&P'].sort_values(ascending=False)

S&P        1.000000
FED        0.801194
3MTBILL    0.786958
6MTBILL    0.785081
1YTBILL    0.772188
USD/GBP    0.742263
USD/EUR    0.738190
USD/CNY    0.178569
GOLD      -0.002773
OILB      -0.401122
OILT      -0.447292
Name: S&P, dtype: float64

In [2016]:
data.drop(['GOLD','USD/CNY','OILB'],axis=1,inplace=True)
data

,S&P,1YTBILL,3MTBILL,6MTBILL,OILT,FED,USD/EUR,USD/GBP
Date,,,,,,,,
2009-01-02,931.799988,0.38,0.08,0.28,46.17,0.08,0.7176,0.6896
2009-01-05,927.450012,0.41,0.14,0.32,48.61,0.11,0.7334,0.6865
2009-01-06,934.700012,0.42,0.14,0.31,48.56,0.09,0.7476,0.6809
2009-01-07,906.650024,0.41,0.11,0.29,42.75,0.11,0.7327,0.6596
2009-01-08,909.729980,0.41,0.09,0.28,41.68,0.10,0.7289,0.6579
...,...,...,...,...,...,...,...,...
2019-12-23,3224.010010,1.49,1.56,1.56,60.51,1.55,0.9020,0.7736
2019-12-24,3223.379883,1.49,1.55,1.57,61.17,1.55,0.9030,0.7723
2019-12-26,3239.909912,1.49,1.55,1.57,61.72,1.55,NaN,NaN
2019-12-27,3240.020020,1.47,1.54,1.55,61.76,1.55,0.8957,0.7637
2019-12-30,3221.290039,1.53,1.54,1.56,61.66,NaN,0.8928,0.7625

In [2017]:
data.dropna(inplace=True)

In [2018]:
mean_12=data['S&P'].rolling(window=12).mean()
mean_26=data['S&P'].rolling(window=26).mean()
mean_12=mean_12.iloc[27:]
mean_26=mean_26.iloc[27:]
data=data.iloc[27:,:]
data['target']=0
for i in range(len(mean_12)):
    if mean_12.iloc[i]<mean_26.iloc[i]:
        data['target'][i]=-1
    else:
        data['target'][i]=1

C:\Users\sahar\anaconda3\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\sahar\anaconda3\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\sahar\anaconda3\envs\tensorflow_env\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\sahar\anaconda3\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [2019]:
data

,S&P,1YTBILL,3MTBILL,6MTBILL,OILT,FED,USD/EUR,USD/GBP,target
Date,,,,,,,,,
2009-02-11,833.739990,0.59,0.30,0.45,35.93,0.22,0.7751,0.6968,-1
2009-02-12,835.190002,0.57,0.29,0.42,34.03,0.23,0.7828,0.7019,-1
2009-02-13,826.840027,0.60,0.29,0.45,37.63,0.22,0.7745,0.6928,-1
2009-02-17,789.169983,0.59,0.32,0.47,34.96,0.25,0.7952,0.7015,-1
2009-02-18,788.419983,0.62,0.31,0.49,34.67,0.23,0.7981,0.7047,-1
...,...,...,...,...,...,...,...,...,...
2019-12-19,3205.370117,1.48,1.54,1.53,61.30,1.55,0.8997,0.7675,1
2019-12-20,3221.219971,1.48,1.55,1.54,60.43,1.55,0.9020,0.7663,1
2019-12-23,3224.010010,1.49,1.56,1.56,60.51,1.55,0.9020,0.7736,1
2019-12-24,3223.379883,1.49,1.55,1.57,61.17,1.55,0.9030,0.7723,1
2019-12-27,3240.020020,1.47,1.54,1.55,61.76,1.55,0.8957,0.7637,1

In [2020]:
data=data.iloc[:,1:]
data.head(3)

            1YTBILL  3MTBILL  6MTBILL   OILT   FED  USD/EUR  USD/GBP  target
Date
2009-02-11     0.59     0.30     0.45  35.93  0.22   0.7751   0.6968      -1
2009-02-12     0.57     0.29     0.42  34.03  0.23   0.7828   0.7019      -1
2009-02-13     0.60     0.29     0.45  37.63  0.22   0.7745   0.6928      -1

In [2021]:
X=data.iloc[:,:7]
y=data.iloc[:,7]

In [2022]:
X

            1YTBILL  3MTBILL  6MTBILL   OILT   FED  USD/EUR  USD/GBP
Date
2009-02-11     0.59     0.30     0.45  35.93  0.22   0.7751   0.6968
2009-02-12     0.57     0.29     0.42  34.03  0.23   0.7828   0.7019
2009-02-13     0.60     0.29     0.45  37.63  0.22   0.7745   0.6928
2009-02-17     0.59     0.32     0.47  34.96  0.25   0.7952   0.7015
2009-02-18     0.62     0.31     0.49  34.67  0.23   0.7981   0.7047
...             ...      ...      ...    ...   ...      ...      ...
2019-12-19     1.48     1.54     1.53  61.30  1.55   0.8997   0.7675
2019-12-20     1.48     1.55     1.54  60.43  1.55   0.9020   0.7663
2019-12-23     1.49     1.56     1.56  60.51  1.55   0.9020   0.7736
2019-12-24     1.49     1.55     1.57  61.17  1.55   0.9030   0.7723
2019-12-27     1.47     1.54     1.55  61.76  1.55   0.8957   0.7637

[2654 rows x 7 columns]

In [2023]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=42)

In [2024]:
y_train.value_counts()

 1    1422
-1     701
Name: target, dtype: int64

In [2025]:
y_test.value_counts()

 1    355
-1    176
Name: target, dtype: int64

In [2026]:
from sklearn.preprocessing import StandardScaler

In [2027]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [2028]:
X_train

array([[ 0.69353646,  0.68473087,  0.71005368, ...,  0.80062813,
         0.2987902 ,  1.12381883],
       [-0.69631879, -0.55686657, -0.60091685, ..., -0.57493544,
        -0.58229716, -0.92993224],
       [ 1.97647978,  1.67266862,  1.80915019, ...,  1.53607795,
         0.19362402,  0.63295776],
       ...,
       [-0.80323074, -0.67702116, -0.74658024, ..., -0.67027153,
        -0.92088094, -0.93721504],
       [-0.78986674, -0.65032014, -0.72009599, ..., -0.65665209,
        -0.9888542 , -1.23144037],
       [-0.65622682, -0.55686657, -0.61415898, ..., -0.60217433,
        -0.12828708, -0.69833903]])

# NN

In [2029]:
tf.random.set_seed(42)

In [2030]:
model=tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(28,input_dim=7,activation='tanh'))
model.add(tf.keras.layers.Dropout(0.1))
model.add(tf.keras.layers.Dense(1, activation='tanh'))
opt=tf.keras.optimizers.Adam(lr=0.001)
model.compile(loss='hinge', optimizer=opt , metrics=['accuracy'])

In [ ]:
history=model.fit(X_train, y_train,validation_data=[X_test,y_test], epochs=50,verbose=1)

Train on 2123 samples, validate on 531 samples
Epoch 1/50
2123/2123 [==============================] - 1s 621us/sample - loss: 0.8914 - accuracy: 0.2680 - val_loss: 0.8499 - val_accuracy: 0.4256
Epoch 2/50
2123/2123 [==============================] - 0s 87us/sample - loss: 0.8032 - accuracy: 0.4366 - val_loss: 0.7873 - val_accuracy: 0.4878
Epoch 3/50
2123/2123 [==============================] - 0s 88us/sample - loss: 0.7645 - accuracy: 0.4828 - val_loss: 0.7566 - val_accuracy: 0.5122
Epoch 4/50
2123/2123 [==============================] - 0s 87us/sample - loss: 0.7410 - accuracy: 0.5040 - val_loss: 0.7356 - val_accuracy: 0.5273
Epoch 5/50
2123/2123 [==============================] - 0s 94us/sample - loss: 0.7144 - accuracy: 0.5252 - val_loss: 0.7054 - val_accuracy: 0.5556
Epoch 6/50
2123/2123 [==============================] - 0s 87us/sample - loss: 0.6867 - accuracy: 0.5704 - val_loss: 0.6795 - val_accuracy: 0.6158
Epoch 7/50
2123/2123 [==============================] - 0s 87us/sample - loss: 0.6722 - accuracy: 0.6156 - val_loss: 0.6710 - val_accuracy: 0.6460
Epoch 8/50
2123/2123 [==============================] - 0s 87us/sample - loss: 0.6642 - accuracy: 0.6514 - val_loss: 0.6674 - val_accuracy: 0.6497
Epoch 9/50
2123/2123 [==============================] - 0s 87us/sample - loss: 0.6602 - accuracy: 0.6463 - val_loss: 0.6643 - val_accuracy: 0.6347
Epoch 10/50
2123/2123 [==============================] - 0s 94us/sample - loss: 0.6583 - accuracy: 0.6279 - val_loss: 0.6615 - val_accuracy: 0.6309
Epoch 11/50
2123/2123 [==============================] - 0s 94us/sample - loss: 0.6562 - accuracy: 0.6331 - val_loss: 0.6588 - val_accuracy: 0.6309
Epoch 12/50
2123/2123 [==============================] - 0s 84us/sample - loss: 0.6526 - accuracy: 0.6288 - val_loss: 0.6573 - val_accuracy: 0.6271
Epoch 13/50
2123/2123 [==============================] - 0s 87us/sample - loss: 0.6497 - accuracy: 0.6251 - val_loss: 0.6560 - val_accuracy: 0.6234
Epoch 14/50
2123/2123 [==============================] - 0s 94us/sample - loss: 0.6467 - accuracy: 0.6152 - val_loss: 0.6539 - val_accuracy: 0.6252
Epoch 15/50
2123/2123 [==============================] - 0s 119us/sample - loss: 0.6462 - accuracy: 0.6265 - val_loss: 0.6526 - val_accuracy: 0.6252
Epoch 16/50
2123/2123 [==============================] - 0s 102us/sample - loss: 0.6435 - accuracy: 0.6227 - val_loss: 0.6514 - val_accuracy: 0.6290
Epoch 17/50
2123/2123 [==============================] - 0s 94us/sample - loss: 0.6422 - accuracy: 0.6255 - val_loss: 0.6507 - val_accuracy: 0.6328
Epoch 18/50
2123/2123 [==============================] - 0s 120us/sample - loss: 0.6442 - accuracy: 0.6382 - val_loss: 0.6515 - val_accuracy: 0.6347
Epoch 19/50
2123/2123 [==============================] - 0s 102us/sample - loss: 0.6406 - accuracy: 0.6284 - val_loss: 0.6499 - val_accuracy: 0.6347
Epoch 20/50
2123/2123 [==============================] - 0s 94us/sample - loss: 0.6403 - accuracy: 0.6345 - val_loss: 0.6494 - val_accuracy: 0.6347
Epoch 21/50
2123/2123 [==============================] - 0s 94us/sample - loss: 0.6416 - accuracy: 0.6288 - val_loss: 0.6479 - val_accuracy: 0.6328
Epoch 22/50
1312/2123 [=================>............] - ETA: 0s - loss: 0.6210 - accuracy: 0.6471

In [ ]:
def plot_loss_acc():
    plt.figure(figsize=(16,8))
    plt.plot(history.history['loss'])
    plt.plot(history.history['val_loss'])
    plt.xlabel('epochs',fontsize=18)
    plt.ylabel('val_loss',fontsize=18)
    plt.title('model_loss',fontsize=18)
    plt.legend(['Train', 'Test'], loc='upper left')
    plt.show()
    
    plt.figure(figsize=(16,8))
    plt.plot(history.history['accuracy'])
    plt.plot(history.history['val_accuracy'])
    plt.title('model Accuracy')
    plt.ylabel('val_acc')
    plt.xlabel('epoch')
    plt.legend(['train','test'], loc='upper left')
    plt.show()

In [ ]:
#model=build_model(neuron=14,activation='relu',dropout=0.5,lr=0.1,momentum=0.5)
#epochs=100
#batch_size=10
#history=model.fit(X_train, y_train,validation_data=[X_test,y_test], epochs=epochs,batch_size=batch_size,verbose=2)
plot_loss_acc()

In [ ]:
model.summary()

In [ ]:
train_acc = model.evaluate(X_train, y_train)
train_acc

In [ ]:
test_acc = model.evaluate(X_test, y_test)
test_acc

In [ ]:
from sklearn.metrics import accuracy_score
y_pred=model.predict_classes(X_test)
accuracy = accuracy_score(y_test,y_pred)
accuracy

In [ ]:
#from sklearn.metrics import precision_score
#from sklearn.metrics import recall_score
#from sklearn.metrics import f1_score
#precision = precision_score(y_test, y_pred)
#print('Precision: %f' % precision)
#recall=recall_score(y_test,y_pred)
#print('recall:%f' %recall)

In [ ]:
from sklearn.metrics import classification_report
y_pred=model.predict_classes(X_test)
print(classification_report(y_test, y_pred))

In [ ]:
y_pred.T

####